<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.usavich.db.product.dao.impl.ProductMapper">
    <resultMap id="productInfo" type="com.usavich.entity.product.Product">
        <id column="PRODUCT_ID" property="productId"/>
        <result column="PRODUCT_NAME" property="productName"/>
        <result column="PRODUCT_DESC" property="productDesc"/>
        <result column="SCORES" property="scores"/>
        <result column="MONEY" property="money"/>
        <result column="TRIGGER_TYPE" property="triggerType"/>
        <result column="LEVEL_LIMIT" property="levelLimit"/>
        <result column="START_TIME" property="startTime"/>
        <result column="END_TIME" property="endTime"/>
        <result column="STATUS" property="status"/>
        <result column="DISCOUNT" property="discount"/>
        <result column="IMAGE" property="image"/>
        <result column="DETAILS" property="details"/>
        <result column="ENDURANCE" property="endurance"/>
        <result column="SPIRIT" property="spirit"/>
        <result column="RAPIDLY" property="rapidly"/>
        <result column="LAST_UPDATE_TIME" property="lastUpdateTime"/>
    </resultMap>

    <resultMap id="productHistoryInfo" type="com.usavich.entity.product.ProductHistory">
        <id column="USER_ID" property="userId"/>
        <result column="PRODUCT_ID" property="productId"/>
        <result column="SCORES" property="scores"/>
        <result column="MONEY" property="money"/>
        <result column="BUY_TIME" property="buyTime"/>
    </resultMap>

    <sql id="productTable">
        PRODUCT_ID,
        PRODUCT_NAME,
        PRODUCT_DESC,
        SCORES,
        MONEY,
        TRIGGER_TYPE,
        LEVEL_LIMIT,
        START_TIME,
        END_TIME,
        STATUS,
        DISCOUNT,
        IMAGE,
        DETAILS,
        ENDURANCE,
        SPIRIT,
        RAPIDLY,
        LAST_UPDATE_TIME
    </sql>

    <sql id="productHistoryTable">
        USER_ID,
        PRODUCT_ID,
        SCORES,
        MONEY,
        BUY_TIME
    </sql>

    <select id="getProductById" resultMap="productInfo">
        SELECT
        <include refid="productTable"/>
        FROM PRODUCTS
        WHERE PRODUCT_ID = #{productId}
    </select>

    <select id="getProductListByTime" resultMap="productInfo">
        SELECT
        <include refid="productTable"/>
        FROM PRODUCTS
        WHERE LAST_UPDATE_TIME > #{lastUpdateTime}
    </select>

    <select id="getProductHistoryList" resultMap="productHistoryInfo">
        SELECT
        <include refid="productHistoryTable"/>
        FROM USER_PRODUCTS_HISTORY
        WHERE USER_ID = #{userId}
    </select>

    <select id="getProductHistoryById" resultMap="productHistoryInfo">
        SELECT
        <include refid="productHistoryTable"/>
        FROM USER_PRODUCTS_HISTORY
        WHERE USER_ID = #{userId}
        AND PRODUCT_ID = #{productId}
    </select>

    <insert id="createProductHistory" parameterType="com.usavich.entity.product.ProductHistory">
        INSERT INTO USER_PRODUCTS_HISTORY
        (
            USER_ID,
            PRODUCT_ID,
            SCORES,
            MONEY,
            BUY_TIME
        )
        VALUES
        (
            #{entity.userId},
            #{entity.productId},
            #{entity.scores},
            #{entity.money},
            #{entity.buyTime}
        )
    </insert>

</mapper>
