<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.walkfun.db.running.dao.impl.RunningMapper">

    <!--run history DB-->
    <resultMap id="runningHistoryInfo" type="com.walkfun.entity.running.RunningHistory">
        <id column="USER_ID" property="userId"/>
        <result column="RUN_UUID" property="runUuid"/>
        <result column="MISSION_ID" property="missionId"/>
        <result column="MISSION_TYPE_ID" property="missionTypeId"/>
        <result column="MISSION_ROUTE" property="missionRoute"/>
        <result column="MISSION_START_TIME" property="missionStartTime"/>
        <result column="MISSION_END_TIME" property="missionEndTime"/>
        <result column="MISSION_DATE" property="missionDate"/>
        <result column="SPEND_CARLORIE" property="spendCarlorie"/>
        <result column="STEPS" property="steps"/>
        <result column="DURATION" property="duration"/>
        <result column="AVG_SPEED" property="avgSpeed"/>
        <result column="DISTANCE" property="distance"/>
        <result column="MISSION_GRADE" property="missionGrade"/>
        <result column="HEALTH" property="health"/>
        <result column="FATNESS" property="fatness"/>
        <result column="GOLD_COIN" property="goldCoin"/>
        <result column="EXTRA_GOLD_COIN" property="extraGoldCoin"/>
        <result column="EXPERIENCE" property="experience"/>
        <result column="EXTRA_EXPERIENCE" property="extraExperience"/>
        <result column="COMMENT" property="comment"/>
        <result column="VALID" property="valid"/>
        <result column="MISSION_UUID" property="missionUuid"/>
        <result column="SEQUENCE" property="sequence"/>
        <result column="PROP_GET" property="propGet"/>
        <result column="ACTION_IDS" property="actionIds"/>
        <result column="COMMIT_TIME" property="commitTime"/>
    </resultMap>

    <sql id="runningHistoryTable">
        USER_ID,
        RUN_UUID,
        MISSION_ID,
        MISSION_TYPE_ID,
        MISSION_ROUTE,
        MISSION_START_TIME,
        MISSION_END_TIME,
        MISSION_DATE,
        SPEND_CARLORIE,
        STEPS,
        DURATION,
        AVG_SPEED,
        DISTANCE,
        MISSION_GRADE,
        HEALTH,
        FATNESS,
        GOLD_COIN,
        EXTRA_GOLD_COIN,
        EXPERIENCE,
        EXTRA_EXPERIENCE,
        COMMENT,
        VALID,
        MISSION_UUID,
        SEQUENCE,
        PROP_GET,
        ACTION_IDS,
        COMMIT_TIME
    </sql>

    <select id="getRunningHistoryByUuid" resultMap="runningHistoryInfo">
        SELECT
        <include refid="runningHistoryTable"/>
        FROM USER_RUNNING_HISTORY
        WHERE RUN_UUID = #{runUuid}
    </select>

    <select id="getRunningHistoriesByDate" resultMap="runningHistoryInfo">
        SELECT
        <include refid="runningHistoryTable"/>
        FROM USER_RUNNING_HISTORY
        WHERE USER_ID = #{userId}
        AND COMMIT_TIME > #{lastUpdateTime}
        ORDER BY MISSION_DATE DESC
        LIMIT 50
    </select>

    <insert id="createRunningHistory" parameterType="com.walkfun.entity.running.RunningHistory">
        INSERT INTO USER_RUNNING_HISTORY
        (
            USER_ID,
            RUN_UUID,
            MISSION_ID,
            MISSION_TYPE_ID,
            MISSION_ROUTE,
            MISSION_START_TIME,
            MISSION_END_TIME,
            MISSION_DATE,
            SPEND_CARLORIE,
            STEPS,
            DURATION,
            AVG_SPEED,
            DISTANCE,
            MISSION_GRADE,
            HEALTH,
            FATNESS,
            GOLD_COIN,
            EXTRA_GOLD_COIN,
            EXPERIENCE,
            EXTRA_EXPERIENCE,
            COMMENT,
            VALID,
            MISSION_UUID,
            SEQUENCE,
            PROP_GET,
            ACTION_IDS,
            COMMIT_TIME
        )
        VALUES
        (
            #{entity.userId},
            #{entity.runUuid},
            #{entity.missionId},
            #{entity.missionTypeId},
            #{entity.missionRoute},
            #{entity.missionStartTime},
            #{entity.missionEndTime},
            #{entity.missionDate},
            #{entity.spendCarlorie},
            #{entity.steps},
            #{entity.duration},
            #{entity.avgSpeed},
            #{entity.distance},
            #{entity.missionGrade},
            #{entity.health},
            #{entity.fatness},
            #{entity.goldCoin},
            #{entity.extraGoldCoin},
            #{entity.experience},
            #{entity.extraExperience},
            #{entity.comment},
            #{entity.valid},
            #{entity.missionUuid},
            #{entity.sequence},
            #{entity.propGet},
            #{entity.actionIds},
            now()
        )
    </insert>

     <!--simple running history for user-->
    <resultMap id="simpleRunningHistoryInfo" type="com.walkfun.entity.running.SimpleRunningHistory">
        <id column="USER_ID" property="userId"/>
        <result column="SPEND_CARLORIE" property="spendCarlorie"/>
        <result column="STEPS" property="steps"/>
        <result column="DURATION" property="duration"/>
        <result column="AVG_SPEED" property="avgSpeed"/>
        <result column="DISTANCE" property="distance"/>
        <result column="MISSION_GRADE" property="missionGrade"/>
        <result column="PROP_GET" property="propGet"/>
        <result column="MISSION_END_TIME" property="missionEndTime"/>
    </resultMap>

    <sql id="simpleRunningHistoryTable">
        USER_ID,
        SPEND_CARLORIE,
        STEPS,
        DURATION,
        AVG_SPEED,
        DISTANCE,
        MISSION_GRADE,
        PROP_GET,
        MISSION_END_TIME
    </sql>

    <select id="getSimpleRunningHistoriesByDate" resultMap="simpleRunningHistoryInfo">
        SELECT
        <include refid="simpleRunningHistoryTable"/>
        FROM USER_RUNNING_HISTORY
        WHERE USER_ID = #{userId}
        ORDER BY MISSION_END_TIME DESC
        LIMIT 1
    </select>

    <!--mission history DB-->
    <resultMap id="missionHistoryInfo" type="com.walkfun.entity.running.MissionHistory">
        <id column="MISSION_UUID" property="missionUuid"/>
        <result column="USER_ID" property="userId"/>
        <result column="USER_NAME" property="userName"/>
        <result column="MISSION_ID" property="missionId"/>
        <result column="MISSION_TYPE_ID" property="missionTypeId"/>
        <result column="MISSION_NAME" property="missionName"/>
        <result column="START_TIME" property="startTime"/>
        <result column="END_TIME" property="endTime"/>
        <result column="MISSION_STATUS" property="missionStatus"/>
        <result column="MISSION_STATUS_COMMENT" property="missionStatusComment"/>
        <result column="UPDATE_TIME" property="updateTime"/>
    </resultMap>

    <sql id="missionHistoryTable">
        MISSION_UUID,
        USER_ID,
        USER_NAME,
        MISSION_ID,
        MISSION_TYPE_ID,
        MISSION_NAME,
        START_TIME,
        END_TIME,
        MISSION_STATUS,
        MISSION_STATUS_COMMENT,
        UPDATE_TIME
    </sql>

    <select id="getMissionHistoriesByDate" resultMap="missionHistoryInfo">
        SELECT
        <include refid="missionHistoryTable"/>
        FROM USER_MISSION_HISTORY
        WHERE USER_ID = #{userId}
        AND UPDATE_TIME > #{lastUpdateTime}
        ORDER BY UPDATE_TIME DESC
        LIMIT 50
    </select>

    <insert id="createOrUpdateMissionHistory" parameterType="com.walkfun.entity.running.MissionHistory">
        INSERT INTO USER_MISSION_HISTORY
        (
            MISSION_UUID,
            USER_ID,
            USER_NAME,
            MISSION_ID,
            MISSION_TYPE_ID,
            MISSION_NAME,
            START_TIME,
            END_TIME,
            MISSION_STATUS,
            MISSION_STATUS_COMMENT,
            UPDATE_TIME
        )
        VALUES
        (
            #{entity.missionUuid},
            #{entity.userId},
            #{entity.userName},
            #{entity.missionId},
            #{entity.missionTypeId},
            #{entity.missionName},
            #{entity.startTime},
            #{entity.endTime},
            #{entity.missionStatus},
            #{entity.missionStatusComment},
            now()
        )
        ON DUPLICATE KEY
        UPDATE
            MISSION_STATUS = #{entity.missionStatus},
            MISSION_STATUS_COMMENT = #{entity.missionStatusComment},
            UPDATE_TIME = now();
    </insert>

</mapper>
