<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.walkfun.db.common.dao.impl.CommonMapper">

    <!-- VersionControl -->
    <resultMap id="versionControl" type="com.walkfun.entity.common.VersionControl">
        <id column="PLATFORM" property="platform"/>
        <result column="VERSION" property="version"/>
        <result column="SUBVERSION" property="subVersion"/>
        <result column="DESCRIPTION" property="description"/>
    </resultMap>

    <sql id="versionControlTable">
        VC.PLATFORM,
        VC.VERSION,
        VC.SUBVERSION,
        VC.DESCRIPTION
    </sql>

    <select id="getVersionControl" resultMap="versionControl">
        SELECT
        <include refid="versionControlTable"/>
        FROM VERSION_CONTROL AS VC
        WHERE VC.PLATFORM = #{platform}
    </select>

    <!-- system message -->
    <resultMap id="systemMessageInfo" type="com.walkfun.entity.common.SystemMessage">
        <id column="MESSAGE_ID" property="messageId"/>
        <result column="MESSAGE" property="message"/>
        <result column="RULE" property="rule" />
        <result column="UPDATE_TIME" property="updateTime"/>
    </resultMap>

    <sql id="systemMessageTable">
        MESSAGE_ID,
        MESSAGE,
        RULE,
        UPDATE_TIME
    </sql>

    <select id="getSystemMessageInfo" resultMap="systemMessageInfo">
        SELECT
        <include refid="systemMessageTable"/>
        FROM SYSTEM_MESSAGE
        WHERE UPDATE_TIME > #{lastUpdateTime}
    </select>

    <!-- Recommend App -->
    <resultMap id="recommendAppInfo" type="com.walkfun.entity.common.RecommendApp">
        <id column="APP_ID" property="appId"/>
        <result column="APP_NAME" property="appName"/>
        <result column="APP_DESCRIPTION" property="appDescription"/>
        <result column="APP_PIC_LINK" property="appPicLink"/>
        <result column="UPDATE_TIME" property="updateTime"/>
        <result column="RECOMMEND_STATUS" property="recommendStatus"/>
        <result column="SEQUENCE" property="sequence"/>
        <result column="APP_ADDRESS" property="appAddress"/>
    </resultMap>

    <sql id="recommendAppTable">
        APP_ID,
        APP_NAME,
        APP_DESCRIPTION,
        APP_PIC_LINK,
        UPDATE_TIME,
        RECOMMEND_STATUS,
        SEQUENCE,
        APP_ADDRESS
    </sql>

    <select id="getRecommendApp" resultMap="recommendAppInfo">
        SELECT
        <include refid="recommendAppTable"/>
        FROM RECOMMEND_APP
        WHERE 1 = 1
        <if test="lastUpdateTime != null"><![CDATA[
        AND UPDATE_TIME > #{lastUpdateTime}
        ]]></if>
        ORDER BY SEQUENCE ASC
    </select>

    <!-- Action Define -->
    <resultMap id="actionDefineInfo" type="com.walkfun.entity.common.ActionDefination">
        <id column="ACTION_ID" property="actionId"/>
        <result column="ACTION_TYPE" property="actionType"/>
        <result column="IN_USING" property="inUsing"/>
        <result column="ACTION_NAME" property="actionName"/>
        <result column="ACTION_DESCRIPTION" property="actionDescription"/>
        <result column="ACTION_ATTRIBUTE" property="actionAttribute"/>
        <result column="ACTION_RULE" property="actionRule"/>
        <result column="TRIGGER_PROBABILITY" property="triggerProbability"/>
        <result column="SOUND_LINK" property="soundLink"/>
        <result column="UPDATE_TIME" property="updateTime"/>
    </resultMap>

    <sql id="actionDefineTable">
        ACTION_ID,
        ACTION_TYPE,
        IN_USING,
        ACTION_NAME,
        ACTION_DESCRIPTION,
        ACTION_ATTRIBUTE,
        ACTION_RULE,
        TRIGGER_PROBABILITY,
        SOUND_LINK,
        UPDATE_TIME
    </sql>

    <select id="getActionDefine" resultMap="actionDefineInfo">
        SELECT
        <include refid="actionDefineTable"/>
        FROM ACTION_DEFINE
        WHERE 1 = 1
        <if test="lastUpdateTime != null"><![CDATA[
        AND UPDATE_TIME > #{lastUpdateTime}
        ]]></if>
    </select>

</mapper>
