<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.walkfun.db.mission.dao.impl.MissionMapper">
    <resultMap id="missionInfo" type="com.walkfun.entity.mission.Mission">
        <id column="MISSION_ID" property="missionId"/>
        <result column="MISSION_TYPE_ID" property="missionTypeId"/>
        <result column="MISSION_NAME" property="missionName"/>
        <result column="MISSION_DESCRIPTION" property="missionDescription"/>
        <result column="SCORES" property="scores"/>
        <result column="EXPERIENCE" property="experience"/>
        <result column="MISSION_FLAG" property="missionFlag"/>
        <result column="LEVEL_LIMITED" property="levelLimited"/>
        <result column="MISSION_TIME_LIMITED" property="missionTimeLimited"/>
        <result column="MISSION_DISTANCE_LIMITED" property="missionDistanceLimited"/>
        <result column="MISSION_FROM_TIME_LIMITED" property="missionFromTimeLimited"/>
        <result column="MISSION_TO_TIME_LIMITED" property="missionToTimeLimited"/>
        <result column="CYCLE_TIME" property="cycleTime"/>
        <result column="SUGGESTION_MAX_SPEED" property="suggestionMaxSpeed"/>
        <result column="SUGGESTION_MIN_SPEED" property="suggestionMinSpeed"/>
        <result column="SEQUENCE" property="sequence"/>
        <result column="UPDATE_TIME" property="updateTime"/>
    </resultMap>

    <sql id="missionTable">
        MISSION_ID,
        MISSION_TYPE_ID,
        MISSION_NAME,
        MISSION_CONTENT,
        SCORES,
        EXPERIENCE,
        MISSION_FLAG,
        LEVEL_LIMITED,
        MISSION_TIME_LIMITED,
        MISSION_DISTANCE_LIMITED,
        MISSION_FROM_TIME_LIMITED,
        MISSION_TO_TIME_LIMITED,
        CYCLE_TIME,
        SUGGESTION_MAX_SPEED,
        SUGGESTION_MIN_SPEED,
        SEQUENCE,
        UPDATE_TIME
    </sql>

    <select id="getMissions" resultMap="missionInfo">
        SELECT
        <include refid="missionTable"/>
        FROM MISSION
        WHERE 1 = 1
        <if test="missionId != null"><![CDATA[
        AND MISSION_ID = #{missionId}
        ]]></if>
        <if test="lastUpdateTime != null"><![CDATA[
        AND LAST_UPDATE_TIME > #{lastUpdateTime}
        ]]></if>
    </select>
</mapper>
