<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.usavich.db.mission.dao.impl.MissionMapper">
    <resultMap id="missionInfo" type="com.usavich.entity.mission.Mission">
        <id column="MISSION_ID" property="missionId"/>
        <result column="MISSION_TYPE_ID" property="missionTypeId"/>
        <result column="MISSION_NAME" property="missionName"/>
        <result column="MISSION_CONTENT" property="missionContent"/>
        <result column="SCORES" property="scores"/>
        <result column="EXPERIENCE" property="experience"/>
        <result column="MISSION_FLAG" property="missionFlag"/>
        <result column="LEVEL_LIMITED" property="levelLimited"/>
        <result column="MISSION_TIME" property="missionTime"/>
        <result column="MISSION_DISTANCE" property="missionDistance"/>
        <result column="CYCLE_TIME" property="cycleTime"/>
        <result column="MISSION_FROM" property="missionFrom"/>
        <result column="MISSION_TO" property="missionTo"/>
        <result column="MISSION_PLACE_PACKAGE_ID" property="missionPlacePackageId"/>
        <result column="MISSION_STEPS" property="missionSteps"/>
        <result column="MISSION_SPEED" property="missionSpeed"/>
        <result column="LAST_UPDATE_TIME" property="lastUpdateTime"/>
        <result column="CHALLENGE_ID" property="challengeId"/>
        <result column="SUB_MISSION_LIST" property="subMissionList"/>
        <result column="MISSION_PACKAGE_ID" property="missionPackageId"/>
        <result column="SEQUENCE" property="sequence"/>
        <result column="PLAN_ID" property="planId"/>
        <result column="SUGGESTION_MAX_SPEED" property="suggestionMaxSpeed"/>
        <result column="SUGGESTION_MIN_SPEED" property="suggestionMinSpeed"/>
    </resultMap>

    <resultMap id="missionPlacePackageInfo" type="com.usavich.entity.mission.MissionPlacePackage">
        <id column="PACKAGE_ID" property="packageId"/>
        <result column="PLACE_NAME" property="placeName"/>
        <result column="PLACE_POINT" property="placePoint"/>
        <result column="SEQUENCE" property="sequence"/>
    </resultMap>

    <resultMap id="missionChallengeInfo" type="com.usavich.entity.mission.MissionChallenge">
        <id column="CHALLENGE_ID" property="challengeId"/>
        <result column="GRADE" property="grade"/>
        <result column="SEX" property="sex"/>
        <result column="TIME" property="time"/>
        <result column="DISTANCE" property="distance"/>
        <result column="SEQUENCE" property="sequence"/>
        <result column="NOTE" property="note"/>
        <result column="RULE" property="rule"/>
    </resultMap>

    <sql id="missionTable">
        MISSION_ID,
        MISSION_TYPE_ID,
        MISSION_NAME,
        MISSION_CONTENT,
        SCORES,
        EXPERIENCE,
        MISSION_FLAG,
        LEVEL_LIMITED,
        MISSION_TIME,
        MISSION_DISTANCE,
        CYCLE_TIME,
        MISSION_FROM,
        MISSION_TO,
        MISSION_PLACE_PACKAGE_ID,
        MISSION_STEPS,
        MISSION_SPEED,
        LAST_UPDATE_TIME,
        CHALLENGE_ID,
        SUB_MISSION_LIST,
        MISSION_PACKAGE_ID,
        SEQUENCE,
        PLAN_ID,
        SUGGESTION_MAX_SPEED,
        SUGGESTION_MIN_SPEED
    </sql>

    <sql id="missionPlacePackageTable">
        PACKAGE_ID,
        PLACE_NAME,
        PLACE_POINT,
        SEQUENCE
    </sql>

    <sql id="missionChallengeTable">
        CHALLENGE_ID,
        GRADE,
        SEX,
        TIME,
        DISTANCE,
        SEQUENCE,
        NOTE,
        RULE
    </sql>

    <select id="getMissions" resultMap="missionInfo">
        SELECT
        <include refid="missionTable"/>
        FROM MISSION
        WHERE 1 = 1
        <if test="missionId != null"><![CDATA[
        AND MISSION_ID = #{missionId}
        ]]></if>
        <if test="missionId == null"><![CDATA[
        AND MISSION_ID < 5000
        ]]></if>
        <if test="lastUpdateTime != null"><![CDATA[
        AND LAST_UPDATE_TIME > #{lastUpdateTime}
        ]]></if>
        <if test="missionTypeId != -1"><![CDATA[
        AND MISSION_TYPE_ID = #{missionTypeId}
        ]]></if>
    </select>

    <insert id="createMission" parameterType="com.usavich.entity.mission.Mission">
        INSERT INTO MISSION
        (
                MISSION_ID,
                MISSION_TYPE_ID,
                MISSION_NAME,
                MISSION_CONTENT,
                SCORES,
                EXPERIENCE,
                MISSION_FLAG,
                LEVEL_LIMITED,
                MISSION_TIME,
                MISSION_DISTANCE,
                CYCLE_TIME,
                MISSION_FROM,
                MISSION_TO,
                MISSION_PLACE_PACKAGE_ID,
                MISSION_STEPS,
                MISSION_SPEED,
                LAST_UPDATE_TIME,
                CHALLENGE_ID,
                SUB_MISSION_LIST,
                MISSION_PACKAGE_ID,
                SEQUENCE,
                PLAN_ID,
                SUGGESTION_MAX_SPEED,
                SUGGESTION_MIN_SPEED
        )
        VALUES
        (
                #{entity.missionId},
                #{entity.missionTypeId},
                #{entity.missionName},
                #{entity.missionContent},
                #{entity.scores},
                #{entity.experience},
                #{entity.missionFlag},
                #{entity.levelLimited},
                #{entity.missionTime},
                #{entity.missionDistance},
                #{entity.cycleTime},
                #{entity.missionFrom},
                #{entity.missionTo},
                #{entity.missionPlacePackageId},
                #{entity.missionSteps},
                #{entity.missionSpeed},
                #{entity.lastUpdateTime},
                #{entity.challengeId},
                #{entity.subMissionList},
                #{entity.missionPackageId},
                #{entity.sequence},
                #{entity.planId},
                #{entity.suggestionMaxSpeed},
                #{entity.suggestionMinSpeed}
        );
    </insert>

    <select id="getMissionPlacePackage" resultMap="missionPlacePackageInfo">
        SELECT
        <include refid="missionPlacePackageTable"/>
        FROM MISSION_PLACE_PACKAGE
        WHERE PACKAGE_ID = #{missionPlacePackageId}
        ORDER BY SEQUENCE ASC
    </select>

    <select id="getMissionChallenges" resultMap="missionChallengeInfo">
        SELECT
        <include refid="missionChallengeTable"/>
        FROM MISSION_CHALLENGE
        WHERE CHALLENGE_ID = #{challengeId}
        ORDER BY SEX ASC,SEQUENCE ASC
    </select>

    <select id="getMissionsByPlanId" resultMap="missionInfo">
        SELECT
        <include refid="missionTable"/>
        FROM MISSION
        WHERE PLAN_ID = #{planId}
        ORDER BY SEQUENCE ASC
    </select>

</mapper>
